#card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container{
  position: relative;
  top: 5rem;
  display: flex;
  z-index: 1;
  height: fit-content;
  justify-content: center;
}

.container #home{
  position: relative;
  width: 85%;
  height: 40em;
}

.map-container .map-card, .container #home{
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
  border-radius: 15px;
  background: #252930 !important;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  backdrop-filter: blur(5px);
}

#home h2{
  position: relative;
  align-self: center;
  top: -0.2em;
  font-size: 7vw;
  color: rgba(255,255,255,0.05);
  pointer-events: none;
  margin: unset;
}

.container #home .content{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  text-overflow: clip;
}

.command{
  width: 30em!important;
  height: fit-content!important;
}

.commands{
  height: fit-content;
  color: white;
  list-style-type: none;
  padding-inline-start: unset;
}

.commands li{
  font-weight: bolder;
}

.commands li p{
  margin-block-start: 0.2em;
  margin-block-end: 2em;
  color: #c7c7c7
}

.command .content{
  padding-top: 5% !important;
}

.commands-container{
  align-items: start;
  justify-content: center!important;
}
.container .card{
  position: relative;
  width: 20em;
  height: 20em;
  margin: 2em;
  box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
  border-radius: 15px;
  background: #252930 !important;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.container .card .content{
  padding: 10%;
  text-align: center;
  transition: 0.5s;
  height: 90%;
}

.container .card .content h2{
  position: absolute;
  top: -10px;
  /* right: 30px; */
  font-size: 8rem;
  color: rgba(255,255,255,0.05);
  pointer-events: none;
}

.container .card .content h3{
  font-size: 1.8rem;
  color: white;
  z-index: 1;
}

.container .card .content p{
  font-size: 1rem;
  color: white;
  font-weight: 300;
}

.container .card .content a{
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  margin-top: 15px;
  background: white;
  color: black;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

.container .card .content a:hover{
  background: black;
  color: white;
}

/*Map containers*/
.map-container{
  height: 35vh;
  text-align: center;
  position: relative;
  top: 5rem;
  bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  z-index: 1;
}

.map-container .map-card{
  position: relative;
  width: 95%;
  height: 100%;
}

h3{
  color: white;
}
p{
  color: white;
}
