/*
@media (resolution: 250dpi){
  .header li {
    float: center;
    text-align: center !important;
  }
  .header li a {
    padding: 20px 30px;
    text-align: center !important;
  }

  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
*/
/* Exact resolution */
/*
@media (resolution: 150dpi) {
  .header li {
    float: center;
    text-align: center !important;
  }
  .header li a {
    padding: 20px 30px;
    text-align: center !important;
  }

  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
*/

/* Maximum resolution */
@media (min-width:50rem) and (pointer: fine){
  .header .menu {
    display: inline-flex;
  }
  .header .menu-icon {
    display: none;
  }
}
