/*
@media (resolution: 250dpi){
  .header li {
    float: center;
    text-align: center !important;
  }
  .header li a {
    padding: 20px 30px;
    text-align: center !important;
  }

  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
*/
/* Exact resolution */
/*
@media (resolution: 150dpi) {
  .header li {
    float: center;
    text-align: center !important;
  }
  .header li a {
    padding: 20px 30px;
    text-align: center !important;
  }

  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
*/
@media (orientation: landscape) and (pointer: coarse){
  body{
    zoom: 1;
  }

  .map-container {
    height: 90vh;
    padding-bottom: 15vh;
  }

  .header{
    position: absolute;
  }
}

@media (orientation: portrait) and (pointer: coarse){
  #carousel{
    height: 25em;
  }
}

/* Maximum resolution */
@media (min-width:53rem) and (pointer: fine){
  .header .menu {
    clear: none;
    display: inline-flex;
    margin-top: unset;
    max-height: none;
    height: 100%;
    justify-content: flex-end;
    z-index: 8;
  }

  body{
    zoom: 1;
  }

  .logo img{
    width: 7em;
  }

  .container #home{
    height: 70em;
  }

  section{
    height: 88vh;
  }

  .map-container{
    height: 90vh;
  }

  .header .menu-icon {
    display: none;
  }
}

@media (pointer: fine){
  body{
    zoom: 1;
  }

  .map-container{
    height: 85vh;
  }
}
