@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600&display=swap');

body {
  margin: 0;
  font-family: Manrope, sans-serif;
  background-color: #181818;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  background-size: 100% 100%;
}

a {
  color: #000;
  text-align: center !important;
}

/* header */
.header {
  display: inline-flex;
  background-color: rgb(33,33,33);
  box-shadow: 0px 5px 5px 2px rgba(0,0,0,0.2);
  position: fixed;
  width: 100%;
  height: 75px;
  justify-content: space-between;
  z-index: 10;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: rgb(33,33,33);
}

.header li a {
  display: block;
  font-size: 1.5em !important;
  text-decoration: none;
  height: 100%;
  padding: 1em 1em;
  color: white;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: black;
  color: white;
}

.logo{
  display: inline-flex;
  align-items: center;
  margin-left: 1em;
  height: 100%;
  z-index: 9;
}

.logo a{
  font-size: 2.5em !important;
  font-weight: normal;
  align-self: center;
  text-decoration: none;
  color: #dad3d4;
}

/*Section*/
section{
  display: flex;
  height: 88vh;
  text-align: center;
  align-items: center;
}

#home{
  position: relative;
  width: 85%;
  height: 1000px;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
  border-radius: 15px;
  background: #6e8ec2 !important;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  backdrop-filter: blur(5px);
}

.playerCount{
  color: #dad3d4;
  align-self: end;
  margin: 0.4em;
  margin-left: -7em;
}

/* Hahmojen kuvat */
.charactersImg{
  width: 150px;
  height: 150px;
  border-radius: 100%;

}


/* menu */
.header .menu {
  clear: both;
  max-height: 0;
  margin-top: 75px;
  width: 100%;
  position: absolute;
  transition: max-height .2s ease-out;
}

/* menu icon */
.header .menu-icon {
  cursor: pointer;
  display: inline-flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 2em;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #dad3d4;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #dad3d4;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */
.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 500px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
